
.req-tables {
  grid-template-areas: "left right";
  gap: 40px;
}

.production-req {
  grid-area: left;
}

.supply-req {
  grid-area: right;
}

@media only screen and (max-device-width: 1260px) {
  .production-req {
    display: flex;
    flex-wrap: wrap;
  }
  .supply-req {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .req-tables {
    display: inline-block;
    /* flex-wrap: wrap; */
  }

}
