.stockmg-text {
  font-size: 14px;
}

.stockmg-button {
  margin: 35px 0 15px 0;
  width: fit-content;
  padding: 8px 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.accept-decline {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.map iframe {
  width: 450px;
  height: 75vh;
  border: 0;
  border-radius: 30px;
}

.collection-view-container,
.production-view-container {
  padding-left: 20px;
  display: flex;
  gap: 65px;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  align-items: center;
  /* top: 50%; */
  /* transform: translate(0, 5vh); */
}

.collection-data-table {
  margin-top: 20px;
  width: 25vw;
  margin-top: 30px;
}

.collection-data .collection-text {
  display: flex;
  align-items: center;
  width: fit-content;
}

.collection-view-container .stockmg-text {
  width: 95%;
}

.supplyreq-container,
.assign-collector-container,
.track-collectors-container,
.block-container {
  top: 50%;
  transform: translate(0, 0vh);
}

select.dropdown {
  border: 0;
  border-bottom: 1px solid var(--input-border);
  outline: 0;
}

.dropdown {
  width: 40vw;
  margin-top: 3rem;
  /* margin-bottom: 3rem; */
  background-color: var(--body-color);
  color: var(--input-border);
}

.collection-view-container .dropdown {
  width: 25vw;
  margin-top: 20px;
}

.collection-view-container .reason {
  margin-top: 40px;
}

.yard1 {
  grid-area: left;
}

.yard2 {
  grid-area: middle;
}

.yard3 {
  grid-area: right;
}

.stocks {
  margin-top: 1.5rem;
  display: grid;
  grid-template-areas: "left middle right";
  gap: 40px;
}

.stocks table tr:hover {
  background-color: rgba(237, 173, 104, 0.699) !important;
}

.stocks h3,
.block-container h3,
.split2-window h3{
  padding-bottom: 0.8rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 19px;
}

.stockmg-collections-container .collection-layer {
  padding-bottom: 60px;
}

.to-yard {
  background-color: #d9d9d961;
  border-radius: 10px;
  padding: 40px 2rem 20px 4rem;
  width: 40vw;
  margin: 4rem 0;
}

.yard-value {
  padding: 5px 0 35px 0;
  font-size: 30px;
  font-weight: 600;
}

.yard-button {
  width: fit-content;
  border-radius: 15px;
  padding: 5px 30px;
}

.production-request-table,
.addresses-table {
  width: 90%;
}

.map-button {
  margin-top: 2rem;
}

.stock-container {
  width: 95%;
}

.block-container,
.edit-stock-container {
  display: flex;
  /* flex-wrap: wrap-reverse; */
  align-items: center;
  gap: 10vw;
  margin-top: 25px;
}

.yard {
  width: 30%;
}

.track-collectors-container .calendar {
  display: flex;
  gap: 5rem;
}

input[type="text"],
input[type="number"] {
  /* box-sizing: border-box; */
  border: none;
  border-bottom: 1px solid var(--input-border);
  color: var(--input-border-focus);
  font-size: 0.9rem;
  margin-top: 20px;
  background-color: var(--body-color);
  outline: none;
}

.edit-stock-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25vw;
}

.edit-stock-form .block{
  font-size: 1.2rem;
  color: var(--button-color);
}

.edit-stock-container form {
  margin-top: 2rem;
}

.edit-stock-container label {
  display: block;
  font-size: 0.9rem;
  margin: 40px 0 0 0;
  font-weight: 500;
  color: var(--input-border-focus);
}

.edit-stock-container input {
  font-size: 1.1rem;
  margin: 15px 0 0 0;
  font-weight: 500;
  color: var(--primary-color);
  width: 25vw;
}

.search-filter input,
.search-filter .dropdown {
  margin-top: 0;
}

.stockmg-block-content .edit {
  display: block;
  width: fit-content;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 40px;
}

.edit-stock-container .save {
  margin-top: 40px;
}

.to-yard-button{
  padding-left: 60px;
  padding-right: 60px;
}

.collection-view-container .yard-supply-tables{
  width: 110%; 
  display: flex;
  justify-content: space-between;
}

.collection-view-container .yard-supply-tables .yard-data-table{
  width: 30vw;
}

.collection-view-container .yard-h3{
  color: var(--sub-title-color);
}

.tabs-container{
  width: 90%;
}

.tabs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7vw;
  height: 8vh;
  margin-bottom: 6vh;
}

.tab{
  background-color: var(--body-color);
  border: 3px solid #9c743e;
  border-radius: 15px;
  display: grid;
  place-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  /* box-shadow: 0 0 1px 3px #000 inset; */
}

.tab:hover{
  box-shadow: -1px 1px 15px 1px rgba(0,0,0,0.20) inset;

}

.yard-data-subtitle h3{
  margin: 10px 0;
  font-weight: 560;
  width: fit-content;
}

.yard-data-subtitle h3 span{
  font-size: 1.6rem;
  margin: 0 5px;

}

.yard-data-subtitle{
  /* display: flex;
  align-items: flex-end;
justify-content: space-between; */
  width: 110%;
}

.yard-data-subtitle .complete-button{
  padding: 8px 30px;
  display: inline-block;
  /* border-radius: 20px; */
  font-size: 0.9rem;

}

.yard-data-container{
  margin-left: 90px;
}

@media only screen and (max-device-width: 1260px) {
  .yard2 {
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 1rem;
  }
  .yard3 {
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 1rem;
  }

  .stocks {
    display: inline-block;
    margin-right: 4rem;
    /* flex-wrap: wrap; */
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .block-container,
  .edit-stock-container {
    flex-wrap: wrap-reverse;
  }
}

.collections-table {
  width: 90%;
}

@media only screen and (max-device-width: 718px) {
  .stockmg-container {
    width: 90vw;
  }

  .collection-view-container {
    padding-left: 0;
  }

  .production-view-container {
    padding-left: 0;
  }

  .collection-data-table {
    margin-top: 20px;
    width: 82vw;
    margin-top: 30px;
  }

  .stockmg-button {
    margin: 30px 0 0 0;
    font-size: 0.9rem;
  }

  .accept-decline {
    justify-content: center;
  }

  .change {
    margin: 0;
  }

  .collection-view-container .reason {
    margin-top: 1rem;
  }

  .collection-view-container .dropdown {
    width: 85%;
    align-self: center;
  }
}
