.stockmg-text {
  font-size: 14px;
}

.stockmg-button {
  margin: 35px 0 15px 0;
  width: fit-content;
  padding: 8px 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.accept-decline {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.map iframe {
  width: 450px;
  height: 75vh;
  border: 0;
  border-radius: 30px;
}

.collection-view-container,
.production-view-container {
  padding-left: 20px;
  display: flex;
  gap: 65px;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  align-items: center;
  top: 50%;
  transform: translate(0, 5%);
}

.collection-data-table {
  margin-top: 20px;
  width: 25vw;
  margin-top: 30px;
}

.collection-data .collection-text {
  display: flex;
  align-items: center;
  width: fit-content;
}

.collection-view-container .stockmg-text {
  width: 95%;
}

.supplyreq-container,
.assign-collector-container,
.track-collectors-container,
.stock-container,
.block-container {
  top: 50%;
  transform: translate(0, 10%);
}

.production-view-container {
  top: 50%;
  transform: translate(0, 15vh);
}

select.dropdown {
  border: 0;
  border-bottom: 1px solid var(--input-border);
  outline: 0;
}

.dropdown {
  width: 40vw;
  margin-top: 3rem;
  /* margin-bottom: 3rem; */
  background-color: var(--body-color);
  color: var(--input-border);
}

.collection-view-container .dropdown {
  width: 25vw;
  margin-top: 20px;
}

.collection-view-container .reason {
  margin-top: 40px;
}

.yard1 {
  grid-area: left;
}

.yard2 {
  grid-area: middle;
}

.yard3 {
  grid-area: right;
}

.stocks {
  margin-top: 1.5rem;
  display: grid;
  grid-template-areas: "left middle right";
  gap: 40px;
}

.stocks table tr:hover {
  background-color: rgb(224, 224, 224) !important;
}

.stocks h3 {
  padding-bottom: 0.8rem;
  margin-top: 1rem;
  /* padding-left: 25px; */
  font-weight: 600;
  font-size: 19px;
}

.stockmg-collections-container .collection-layer {
  padding-bottom: 60px;
}


.to-yard {
  background-color: #d9d9d961;
  border-radius: 10px;
  padding: 40px 2rem 20px 4rem;
  width: 40vw;
  margin: 4rem 0;
}

.yard-value{
  padding: 5px 0 35px 0;
  font-size: 30px;
  font-weight: 600;
}

.yard-button{
  width: fit-content;
  border-radius: 15px;
  padding: 5px 30px;
  
}

@media only screen and (max-device-width: 1260px) {
  .yard2 {
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 1rem;
  }
  .yard3 {
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 1rem;
  }

  .stocks {
    display: inline-block;
    margin-right: 4rem;
    /* flex-wrap: wrap; */
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-device-width: 718px){
  .stockmg-container{
    width: 90vw;
  }

  .collection-view-container{
    padding-left: 0;
  }

  .production-view-container{
    padding-left: 0;
  }

  .collection-data-table {
    margin-top: 20px;
    width: 82vw;
    margin-top: 30px;
  }

  .stockmg-button {
    margin: 30px 0 0 0;
    font-size: 0.9rem;
  }

  .accept-decline{
    margin-left: -10vw;
    justify-content: center;
  }

  .change{
    margin: 0;
  }
  
}
