.collection-text {
  font-size: 14px;
}

.map iframe{
  width: 450px;
  height: 75vh;
  border: 0;
  border-radius: 30px;
}

.collection-container {
  padding-left: 20px;
  display: flex;
  gap: 65px;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  align-items: center;
  top: 50%;
  transform: translate(0, 5%);
}

.collection-data-table {
  margin-top: 40px;
}

.collection-button {
  margin-top: 35px;
  width: fit-content;
  padding: 8px 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.collection-data {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto auto;
}

.collection-data .collection-text {
  display: flex;
  align-items: center;
  width: fit-content;
}

.collection-data input {
  /* box-sizing: border-box; */
  border: none;
  border-bottom: 1px solid var(--input-border);
  color: #484848;
  margin: 20px 0;
  background-color: var(--body-color);
}

.complete-container .collection-button {
  margin-top: 15px;
}

.collection-container .collection-text{
  width: 95%;
}

/* .collection-container .collection-content{
  width: fit-content;
} */

.complete-container {
  top: 50%;
  transform: translate(0, 50%);
}

.complete-container .initial-amount {
  font-weight: 500;
}
