/* sidebar-photo */
.sidebar-photo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 47vw;
  transition: var(--tran-05);
  z-index: 100;
}
.lng-picker {
  padding-right: 0;
  margin-right: 3vw;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-text {
  color: #7c7c7c;
}

.login-line1 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.login-line2 {
  font-size: 18px;
  margin: 0 0 50px 0;
}

input {
  /* box-sizing: border-box; */
  border: none;
  border-bottom: 1px solid #a9a9a9;
  color: #484848;
  padding: 7px 0;
  margin: 20px 0;
}

input::placeholder {
  color: #a9a9a9;
}

textarea:focus,
input:focus {
  outline: none;
  border-bottom: 1px solid #484848;
  transition: var(--tran-05);
}

.login-form input {
  width: 25rem;
}



.form-button:hover {
  background-color: #d6a360;
}

.login-button {
  width: 20rem;
  margin-top: 50px;
  font-size: 20px;
}

.login-line3,
.login-line4 {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
}

.sidebar-signin {
  background-color: var(--sidebar-color);
  width: 35vw;
  height: 100vh;
  text-align: center;
  color: var(--text-color);
}



.signup-form input {
  font-size: 15px;
}

.address {
  color: #484848;
  font-weight: 600;
  margin-top: 30px;
}

.address1 {
  margin-top: 5px;
}

.signup-form div {
  display: flex;
  width: 40rem;
  justify-content: space-between;
}

.short {
  width: 17rem;
}

.email {
  margin-top: 0;
}

.long {
  width: 40rem;
}

.form-heading {
  color: #626262;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}
.signup-home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--primary-color);
  padding: 2.4rem 0rem;
}
.signup-container {
  display: grid;
  grid-template-areas: "auto auto";
}

.side {
  background-color: var(--sidebar-color);
  width: 30vw;
  height: 100vh;
  text-align: center;
  color: var(--text-color);
}

.section-home {
  margin: 0;
  padding: 0;
}

.signup {
  padding: 0;
  margin: 0;
  display: grid;
  flex-direction: column;
  align-items: center;
}
.menu-line1 {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 5px;
}

.signup-menu-top img {
  height: 5rem;
  margin-top: 5rem;
}

.large {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: fit-content;
  height: auto;
}

.wrapper a {
  text-decoration: none;
  color: var(--text-color);
}

.circle {
  width: 46px;
  height: 46px;
  border-radius: 100px;
  border: 3px solid var(--text-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  font-weight: 600;
}

.vertical-line {
  width: 1px;
  height: 60px;
  background: var(--text-color);
  margin: 0px auto 0 53px;
}

.step {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 40px;
}

.form-heading-text {
  font-size: 13px;
  color: #757575;
  padding-bottom: 20px;
}

.location-form input,
.verify-form input {
  width: 40rem;
  margin: 35px 0;
}

.signup4 {
  width: 50rem;
  padding-top: 10rem;
}

.signup4 button {
  margin-top: 35px;
}

.disable1 {
  border: 1px solid var(--disable-color);
}

.disable2 {
  color: var(--disable-color);
  border: 2px solid var(--disable-color);
}

.disable3 {
  color: var(--disable-color);
}

.signup-content {
  margin: 0;
  position: relative;
  top: 10%;
}

@media only screen and (max-device-width: 900px) {
  .sidebar-photo {
    display: none;
  }
  section .container {
    left: 0;
    width: calc(100% - 0vw);
    position: fixed;
  }
  .login-button {
    width: 50vw;
  }
  .login-form input {
    width: 70vw;
  }
  .lng-picker{
    margin-right: 6vw;
    /* display: flex;
    position: absolute; */
  }
}

.menu-line6{
  margin-top: 20%;
  font-size: 13px;
}

.menu-line6 a{
  font-weight: 500;
  color: var(--text-color);
}

.verify-button{
  padding: 5px 30px;
  border-radius: 20px;
}

.bold{
  font-weight: 600;
}