.salesmg-text {
  font-size: 14px;
  width: 95%;
}

.salesmg-button {
  margin: 35px 0 15px 0;
  width: fit-content;
  padding: 8px 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.add-button {
  margin-top: 20px;
  width: 8rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.add-container {
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translate(0, 30%); */
  margin-left: 6rem;
}

.container {
  top: 50%;
  /* transform: translate(0, 10%); */
  /* margin-left: 10rem;    */
}

.payment-container {
  transform: translate(0, 10%);
}

.add-form input {
  margin-top: 3rem;
  width: 40rem;
}

.production-ongoing {
  background-color: var(--sidebar-color);
}

.production-completed {
  background-color: var(--completed-green);
}

.production-distributed {
  background-color: var(--accept-yellow);
}

.payment-pending {
  background-color: var(--pending-color);
}

.payment-paid {
  background-color: var(--completed-green);
}

input {
  /* box-sizing: border-box; */
  border: none;
  border-bottom: 1px solid var(--input-border);
  color: var(--input-border-focus);
  padding: 7px 0;
  margin: 20px 0;
  background-color: var(--body-color);
}

input::placeholder {
  color: var(--input-border);
}

textarea:focus,
input:focus {
  outline: none;
  border-bottom: 1px solid var(--input-border-focus);
  transition: var(--tran-05);
}

.payment-table {
  width: 25vw;
}

.add-outlet-form div {
  display: flex;
  width: 40vw;
  justify-content: space-between;
}

.short {
  width: 17rem;
}
.long {
  width: 40rem;
}

.payouts-layer {
  padding: 30px 0;
}

.payouts-layer .payouts-text {
  font-size: 20px;
  font-weight: 600;
}

.salesmg-container .distributors-table,
.outlets-table,
.production-table,
.products-table {
  width: 90%;
}

.search-filter input {
  margin: 0;
}

.salesmg-container {
  top: 50%;
  transform: translate(0, 3vh);
  /* margin-left: 6vw; */
}

.add-outlet-form {
  padding: 0;
  margin: 0;
  display: grid;
  flex-direction: column;
  align-items: center;
}

.outlet-table {
  width: 25vw;
  margin-top: 40px;
}

.smallbt {
  width: 10vw;
}

.buttons {
  margin-top: 40px;
}

.outlet-edit-container .savebt {
  margin-top: 30px;
}

.edit-outlet-form input {
  color: var(--primary-color);
}

.salesmg-container input {
  margin-top: 0;
  /* padding: 12px; */
}

.salesmg-container label {
  padding: 20px 20px 0 0;
  display: inline-block;
}

.salesmg-container .add-label {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.salesmg-container .add-input {
  float: left;
  width: 80%;
  margin-top: 20px;
  padding-top: 0;
}

.salesmg-container .row::after {
  content: "";
  display: table;
  clear: both;
}

.outlet-heading {
  margin-bottom: 1rem;
}

.view-product-container {
  width: 33vw;
  height: 38vh;
  margin-top: 60px;
  top: 20%;
  right: 40%;
}

.view-product-content {
  margin: 20px;
}

.view-product-container .buttons {
  display: flex;
  gap: 1vw;
  justify-content: center;
  margin-top: 0;
}
.view-product-container .buttons a {
  padding: 5px 20px;
  width: 8rem;
  margin-top: 40px;
}

.view-product-container .overview-tables {
  width: 90%;
}

.product-view-table {
  margin-left: 1rem;
}

.add-product-container,
.edit-product-container {
  width: 40vw;
  height: 67vh;
  top: 10%;
  right: 35%;
}
.add-product-container .add-product-content,
.edit-product-container .edit-product-content {
  margin: 20px;
}

.add-product-container h2,
.edit-product-container h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.add-product-container label,
.edit-product-container label {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 20px;
}

.edit-product-container label {
  color: var(--input-border);
}
.add-product-container input {
  font-size: 0.8rem;
  margin-top: 0;
  width: 33vw;
}

.add-product-container .add-product-form,
.edit-product-container .edit-product-form {
  margin-top: 40px;
}

.add-product-container .submit,
.edit-product-container .edit-submit {
  font-size: 0.9rem;
  padding: 5px 40px;
  border-radius: 20px;
  margin-top: 30px;
}

.edit-product-container input {
  font-size: 0.9rem;
  margin-top: 0;
  width: 33vw;
  color: var(--primary-color);
  font-weight: 600;
}
.edit-product-container input::placeholder {
  font-size: 0.9rem;
  margin-top: 0;
  width: 33vw;
  color: var(--primary-color);
  font-weight: 600;
}


.production-container .view-production-table{
  width: 30vw;
  margin-top: 50px;
  /* margin-bottom: 70px; */
}

.products button{
  display: block;
  margin: 20px 0;
  padding: 5px 40px;
  border-radius: 20px;
  background-color: var(--background-grey);
  border: 1px solid var(--input-border-focus);
}

.production-container .production-content{
  display: flex;
  gap: 10vw;
  align-items: center;
}

.production-container{
  /* top: 50%; */
  transform: translate(0, 10vh);
}