.distributors-container {
  top: 50%;
  transform: translate(0, 10%);
}

.salesmg-text {
  font-size: 14px;
  width: 95%;
}

.salesmg-button {
  margin: 35px 0 15px 0;
  width: fit-content;
  padding: 8px 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.add-button {
  margin-top: 20px;
  width: 8rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.add-container {
  /* position: absolute; */
    /* top: 50%; */
  /* transform: translate(0, 30%); */
  margin-left: 6rem;
}

.add-outlet-container {
  transform: translate(0, 20%);
}

.payment-container{
  transform: translate(0, 10%);
}

.add-form input {
  margin-top: 3rem;
  width: 40rem;
}

.production-ongoing{
  background-color: var(--sidebar-color);
}

.production-completed{
  background-color: var(--completed-green);
}

.payment-pending{
  background-color: var(--sidebar-color);
}

.payment-paid{
  background-color: var(--completed-green);
}

input {
  /* box-sizing: border-box; */
  border: none;
  border-bottom: 1px solid var(--input-border);
  color: var(--input-border-focus);
  padding: 7px 0;
  margin: 20px 0;
  background-color: var(--body-color);
}

input::placeholder {
  color: var(--input-border);
}

textarea:focus,
input:focus {
  outline: none;
  border-bottom: 1px solid var(--input-border-focus);
  transition: var(--tran-05);
}

.payment-table {
  width: 25rem;
}