.forgot-password-content{
    position: relative;
    top: 10vh;
}

.forgot-password-content .form-heading{
margin-bottom: 0;
}
.forgot-password-content .heading{
margin-bottom: 8vh;
}
.forgot-password-content .form-text{
font-size: 0.9rem;
color: #626262;
}

.forgot-password-content .password-content .form-heading{
font-size: 22px;
color: #626262;
}

.forgot-password-content input[type="text"]{
    border-bottom: none;
    margin-bottom: 0;
    width: 80%;
}
.forgot-password-content input[type="text"]:focus{
    border-bottom: none;
}
.forgot-password-content .password-input{
    width: 70%;
    border-bottom: 1px solid var(--input-border);
    margin-top: 15px;
    
}

.forgot-password-content .password-input .form-button{
    float: right;
    padding: 5px 25px;
    font-size: 0.8rem;
    border-radius: 20px;
    margin-top: 15px;
    
}

.password-input:has(input:focus){
    border-bottom: 2px solid var(--input-border-focus);
  
  }

.email-content{
    margin-bottom: 15vh;
}

.forgot-password-container .signup-menu-top{
    position: relative;
    top: 25%;
}
