.yard1 {
  grid-area: left;
}

.yard2 {
  grid-area: middle;
}

.yard3 {
  grid-area: right;
}

.stock {
  display: grid;
  grid-template-areas: "left middle right";
  gap: 40px;
}

.stock table tr:hover, .yard .overview-tables tr:hover{
  background-color: rgba(237, 173, 104, 0.699) !important;
}

.stock h3, .yard h3 {
  padding-bottom: 0.8rem;
  /* margin-top: 1rem; */
  /* padding-left: 25px; */
  font-weight: 600;
  font-size: 19px;
}
.production-stock-container {
  width: 95%;
}

.productionmg-text {
  width: 95%;
  font-size: 14px;
}

.production-stock-request{
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 10vw;
  margin-top: 25px;
}

.yard{
  width: 30%;
}

.productionmg-button{
  margin-bottom:15px;
  width: fit-content;
  padding: 8px 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.collection-data-table {
  width: 25rem;
  /* margin-top: 35px; */
  /* top: 50%;
  transform: translate(0, 15%); */
}

.production-ongoing{
  background-color: var(--sidebar-color);
}

.production-completed{
  background-color: var(--completed-green);
}

.stock-details{
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


input {
  /* box-sizing: border-box; */
  border: none;
  border-bottom: 1px solid var(--input-border);
  color: #484848;
  padding: 7px 0;
  margin: 20px 0;
  background-color: var(--body-color);
}

input::placeholder {
  color: var(--input-border);
}

textarea:focus,
input:focus {
  outline: none;
  border-bottom: 1px solid #484848;
  transition: var(--tran-05);
}

.stock-level4{
background-color: var(--stock-lv4);
}

.stock-level3{
  background-color: var(--stock-lv3);
}

.stock-level2{
  background-color: var(--stock-lv2);
}

.stock-level1{
  background-color: var(--stock-lv1);
}

.production-request-table, .production-table{
  width: 90%;
}

.reqest-amount-label, .request-edit-container label{
  font-size: 0.9rem;
  margin: 40px 0 0 0;
  font-weight: 500;
}

.request-edit-container label{
  color: var(--input-border-focus);
}


.request-amount{
  margin-top: 0;
  padding-bottom: 2px;
  margin-bottom: 40px;
}

.buttons{
  margin-top: 2rem;
}
.buttons .edit{
  display: inline-block;
}

.buttons .edit, .buttons .delete{
  width: 8rem;
}

.request-edit-container .save{
  width: fit-content;
}

.request-edit-container input, .dropdown{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.request-edit-container input, .request-edit-container .dropdown{
  margin-bottom: 0;
}

select.dropdown {
  border: 0;
  border-bottom: 1px solid var(--input-border);
  outline: 0;
}

.dropdown {
  /* width: 40vw; */
  width: 100%;
  margin-top: 10px;
  padding-left: 0;
  background-color: var(--body-color);
}


.products-container .form-button,
.products-add-container .save,
.products-edit-container .save
{
  display: block;
  width: fit-content;
  margin-top: 40px;
}



.products-add-container,
.products-edit-container{
  margin-left: 4rem;
}

.products-add-container .add-product-form, .products-edit-container .edit-product-form{
margin-top: 3rem;
}

.products-add-container label, .products-edit-container label{
  display: block;
  margin-top: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
} 

.products-add-container input[type=text],
.products-add-container input[type=number],
.products-edit-container input[type=text],
.products-edit-container input[type=number]
{
  width: 70%;
  margin-top: 10px;
  font-size: 1rem;
}

.products-edit-container label{
  color: var(--input-border);
}

.products-edit-container input{
color: var(--primary-color);
font-weight: 500;
}

.search-filter input, .search-filter .dropdown, .search-wrapper input{
  margin-top: 0;
  margin-bottom: 0;
}

.add-product-container{
  width: 40vw;
  height: 47vh;
  margin-top: 60px;
  top: 20%;
  right: 35%;
}

.add-product-container .add-product-content{
  margin: 20px;
}

.add-product-container h2{
  font-size: 1.2rem;
  font-weight: 600;
}

.add-product-container label{
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 20px;
}

.add-product-container input{
  font-size: 0.8rem;
  margin-top: 0;
  width: 33vw;

}

.add-product-container .add-product-form{
  margin-top: 40px;

}

.add-product-container .submit{
  font-size: 0.9rem;
  padding: 5px 40px;
  border-radius: 20px;
  margin-top: 30px;

}

@media only screen and (max-device-width: 1260px) {
  .production-req {
    display: flex;
    flex-wrap: wrap;
  }
  .supply-req {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .req-tables {
    display: inline-block;
    /* flex-wrap: wrap; */
  }

  .yard2 {
    /* display: flex;
      flex-wrap: wrap; */
    margin-top: 1rem;
  }
  .yard3 {
    /* display: flex;
      flex-wrap: wrap; */
    margin-top: 1rem;
  }

  .stock {
    display: inline-block;
    margin-right: 4rem;
    /* flex-wrap: wrap; */
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .production-stock-request{
    gap: 20px;
  }

  .yard{
    width: 90%;
  }
}
