.supplier-chat-container {
  width: 90%;
  height: 80vh;
}

.supplier-chat-container {
  padding-left: 4rem;
}

.chat-title {
  margin: 20px 0 0 20px;
}

.supplier-chat-container hr {
  width: 70vw;
  margin: 30px 0 40px 0;
  border: 1px solid var(--hr-color);
}

.stockmg-chat-container hr {
  margin: 30px 0 40px 0;
  border: 1px solid var(--hr-color);
  width: 55vw;
}

.msg-bottom {
  /* position: relative; */
  height: 11%;
  background-color: var(--hr-color);
  position: absolute;
  bottom: 0px;
  width: 85%;
  border-radius: 10px;
  margin-top: 50px;
  margin-right: 20px;
}

.sender {
  display: flex;
}

.form {
  width: 90%;
}

.chat-container input {
  background-color: var(--hr-color);
  width: 100%;
  padding: 5px 0 10px 15px;
  margin-left: 20px;
}

.sent-icon {
  color: var(--tbicon-color);
  font-size: 23px;
  display: flex;
  align-items: center;
  /* padding-left: 40px; */
  padding-top: 20px;
  padding-right: 20px;
}

.supplier-chat-container .sent-icon {
  padding-left: 50px;
}

.stockmg-chat-container .sent-icon {
  padding-left: 40px;
}

.received {
  display: inline-block;
  /* padding:0; */

  margin-bottom: 20px;
  vertical-align: top;
  width: 92%;
}

.received-msg {
  float: left;
  min-width: 15%;
  max-width: 57%;
}

.received-msg p {
  background: var(--hr-color) none repeat scroll 0 0;
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 14px;
  margin-left: 1rem;
  padding: 1rem;
  width: 100%;
  /* box-shadow: 0px 4px 40px 0px var(--box-shadow); */
}

p {
  overflow-wrap: break-word;
}

.sent {
  overflow: hidden;
  margin: 26px 20px 26px 20px;
}
.sent-msg p {
  background-color: var(--tbicon-color);
  border-radius: 10px;
  font-size: 14px;
  color: var(--text-color);
  padding: 5px 10px 5px 12px;
  width: 100%;
  padding: 1rem;
  /* box-shadow: 0px 4px 40px 0px var(--box-shadow); */
}

.sent-msg {
  float: right;
  min-width: 15%;
  max-width: 50%;
}

.inbox {
  overflow: hidden;
}

.chat-content {
  max-height: 55vh;
  overflow-y: auto;
}

.received .time {
  display: block;
  font-size: 10px;
  margin: 6px 0 6px 20px;
}

.sent .time {
  display: block;
  float: right;
  font-size: 10px;
  margin: 6px 0 6px 0;
}

.stockmg-chat-container {
  display: grid;
  grid-template-columns: 20vw auto;
  margin-left: 0;
  /* height: 89.5vh; */
  height: 85vh;
}

.stockmg-chat {
  height: 70vh;
  margin-left: 30px;
  /* width: fit-content; */
}

.home {
  padding-left: 0;
  padding-bottom: 0;
}

.stockmg-chat-container .supplier-chats {
  /* box-shadow: 0px 4px 40px 0px var(--box-shadow); */
  box-shadow: 0px 70px 40px 0px var(--box-shadow);
}

.supplier-chats hr {
  width: 20vw;
}

.single-chat {
  /* border: 1px solid red; */
  height: 10vh;
  display: grid;
  grid-template-columns: 70px auto;
}

.single-chat:hover {
  background-color: var(--hr-color);
}

.profile-photo {
  background-color: var(--shadow-color);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

.profile-icon {
  display: flex;
  align-self: center;
  color: var(--text-color);
  font-size: 25px;
}

.single-chat-content {
  /* margin: 20px 0 20px 10px; */
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.supplier-name {
  font-weight: 600;
  font-size: 15px;
}

.last-text {
  font-size: 13px;
  padding-top: 5px;
  color: var(--input-border);
}

.stockmg-chat-container .msg-bottom {
  width: 55vw;
}

.supplier-chats {
  height: 89.5vh;
  border-bottom: 20px solid white;
}

.stockmg-chat-container input {
  border: none;
  border-bottom: 1px solid var(--input-border);
  color: #484848;
  /* padding: 7px 0; */
  margin-top: 20px;
  /* margin: 20px 0; */
  /* background-color: var(--body-color); */
}

.stockmg-chat-container input:focus {
  outline: none;
  border-bottom: 1px solid #484848;
  transition: var(--tran-05);
}

.unseen {
  background-color: rgb(49, 248, 49);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  left: 190px;
  bottom: 20px;
}




@media only screen and (max-device-width: 900px)  {
  .supplier-chat-container {
    width: 95%;
  }

  .sent-msg p, .received-msg p{
    font-size: 12px;
  }
}


@media only screen and (max-device-width: 718px){

  .supplier-chat-container{
    padding-left: 1rem;
    height: 87vh;
  }

  .chat-content{
    max-height: 64vh;
  }

  .supplier-chat-container hr{
    width: 90vw;
    margin: 10px 0 30px 0;
  }

  .sent{
    margin: 15px 10px;
  }

  .received{
    margin: 15px 0;
  }
  .msg-bottom{
  width: 91%;
  }
}