.location-pick,
.get-direction
 {
  display: none;
  width: 75vw;
  height: 80vh;
  margin: 0 auto;
  background-color: var(--body-color);
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 60px;
  position: absolute;
  /* top: -100px; */
  right: 10vw;
  box-shadow: 0 0 20px 0 var(--shadow-color);
  z-index: 999;
  transition: var(--tran-04);
}

.get-direction{
  padding: 4px 5px;
}

.get-direction #map {
  height: 79vh;
  width: 55vw;
}

.location-container,
.get-direction .direction-container {
  display: flex;
  align-items: center;
  gap: 30px;
}


.get-direction .direction-container .pick-map #map{
  border-radius: 10px;
}


.location-container iframe {
  width: 50vw;
  height: 77vh;
  border: none;
  border-radius: 10px;
  padding-left: 0;
  margin-left: 0;
}

.location-container #map {
  width: 50vw;
  height: 77vh;
  border: none;
  border-radius: 10px;
  padding-left: 0;
  margin-left: 0;
}

.location-container .close-btn {
  display: grid;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  color: gray;
  transition: 0.5s;
  cursor: pointer;
}

.location-container .close-btn:hover {
  color: var(--primary-color);
  scale: 1.1;
  cursor: pointer;
}

.pick-text {
  margin-bottom: 20px;
}


.pick-address {
  margin-right: 20px;
  width: 30vw;
  color: black;
  height: 72vh;
  margin-top: 20px;
  overflow-y: scroll;
  background-color: var(--background-grey);
  padding: 20px;
  border-radius: 10px;
}

.confirm {
  margin-top: 10px;
}

.houseNo {
  margin-right: 15px;
}

textarea{
  height: auto;
}

.view-all-container{
  width: 60vw;
  height: 80vh;
  top: 10%;
  left: 20%;
}

.view-all-container .view-all-content{
  display: flex;
}

.get-direction .pick-address{
  font-size: 0.9rem;
}

.get-direction .start-address,
.get-direction .end-address
{
  margin: 5px 0;
}

.get-direction .title{
  font-size: 1rem;
}

.get-direction .view-text{
  font-weight: 500;
  background-color: var(--toggle-color);
  padding: 5px 15px 5px 10px;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 20px;
}

.get-direction .view-text i{
  float: right;
}
