.profile-edit-container{
  margin-left: 10vw;
}

.profile-edit-container .form-button{
    margin-top: 50px;
}

.profile-edit-container input{
    color: var(--primary-color);
    font-weight: 500;
}

.profile-edit-container .email-label {
    margin-top: 40px;
  }
  
  .profile-edit-container .address1-label{
    margin-top: 10px;

  }

  .edit-form div{
  display: flex;
  width: 40vw;
  gap: 20px;
  justify-content: space-between;
}

.edit-name section {
    margin: 0;
    padding: 0;
  }
  
  .short {
    width: 17vw;
  }
  
  .long {
    width: 40vw;
  }
  

  
select.dropdown {
    border: 0;
    border-bottom: 1px solid var(--input-border);
    outline: 0;
  }
  
  .dropdown {
    width: 40vw;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 3rem;
    background-color: var(--body-color);
    color: var(--primary-color);
    font-weight: 500;
    padding-bottom: 5px;
  }

  .form-heading{
    color: var(--primary-color);
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
  }

  textarea:focus,
input:focus {
  outline: none;
  border-bottom: 1px solid #484848;
  transition: var(--tran-05);
}

.address {
    color: var(--input-border);
    font-weight: 600;
    margin-top: 6px;
  }

  input {
    /* box-sizing: border-box; */
    border: none;
    border-bottom: 1px solid #a9a9a9;
    padding: 7px 0;
    margin: 10px 0 0 0;
    font-size: 15px;
  }

  .edit-form label{
  display: block;
  margin-top: 30px;
  color: var(--input-border);
}

.profile-table {
  margin-top: 10px;
  width: 70%;
}

.profile-table td {
  width: 50%;
}

.profile-container .supply-title {
  padding: 0;
  margin-bottom: -10px;
}

.profile-info .supply-text {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 500;
}

.profile-container .form-button{
  margin-top: 3rem;
}

.password-window {
  display: none;
  width: 40vw;
  height: 40vh;
  margin: 0 auto;
  background-color: var(--body-color);
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 60px;
  position: fixed;
  top: 40%;
  right: 35%;
  box-shadow: 0 0 20px 0 var(--shadow-color);
  z-index: 999;
  transition: var(--tran-04);
}


.password-window .close-btn {
  display: grid;
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 24px;
  color: gray;
  transition: 0.5s;
  cursor: pointer;
}

.password-window .close-btn:hover {
  color: var(--primary-color);
  scale: 1.1;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.password-container{
  margin: 30px 20px 20px 20px;
}
.password-window .passwords label{
  display: block;
}

.password-window input{
  padding: 0px;
  margin: 0 10px;
}

.password-window input::placeholder{
  font-size: 0.8rem;
}

.passwords{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  width: 30vw;
}

.password-window a{
  font-size: 0.7rem;
  color: var(--button-color);
}

.passwords input{
  margin:10px 0;
  padding-left: 3px;
}

.current-password{
  width: 20vw;
}

.password-window .save{
  font-size: 0.9rem;
  padding: 6px 40px;
  border-radius: 15px;
  margin-top: 40px;
}