.supply-text {
  font-size: 14px;
}

.coco-amount {
  width: 37rem;
  /* margin-top: 3rem; */
  background-color: var(--background-color);
  color: var(--wtext-color);
  width: 37rem;
  padding-top: 3rem;
}

.method {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.method-text {
  /* height: 5rem; */
  width: 10rem;
  margin-right: 3rem;
}

.method label {
  width: 10rem;
}

.supply-container {
  position: absolute;
  top: 50%;
  transform: translate(0, 30%);
  margin-left: 6rem;
}

.method label {
  color: #5e5e5e;
}

.method input[type="checkbox"] {
  accent-color: #5e5e5e;
}

.checkbox:checked + .supply-label {
  color: var(--primary-color);
}

.date-form {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
}

.feasibility input {
  width: 17rem;
  margin-bottom: 30px;
}

.form-button {
  margin-top: 50px;
}

.supply3-container {
  position: absolute;
  top: 50%;
  transform: translate(0, 10%);
}

.supply-address {
  font-size: 15px;
  font-weight: 600;
}

.supply4-container {
  transform: translate(0, 40%);
}

.supply5-container {
  transform: translate(0, 20%);
}

.supply6-container,
.supply8-container {
  transform: translate(0, 20%);
}

.supply7-container {
  transform: translate(0, 20%);
}

input {
  /* box-sizing: border-box; */
  border: none;
  border-bottom: 1px solid var(--input-border);
  color: #484848;
  padding: 7px 0;
  margin: 20px 0;
  background-color: var(--body-color);
}

input::placeholder {
  color: var(--input-border);
}

textarea:focus,
input:focus {
  outline: none;
  border-bottom: 1px solid #484848;
  transition: var(--tran-05);
}

.next {
  margin-top: 20px;
  width: 12rem;
  font-size: 18px;
}

.form-button {
  color: var(--text-color);
  background-color: var(--sidebar-color);
  border-radius: 6px;
  border: none;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.form-button:hover{
  background-color: var(--button-hover);
}

select.dropdown{
  border:0;
  border-bottom: 1px solid var(--input-border);
  outline:0;
}

.dropdown {
  width: 40rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: var(--body-color);
  color: var(--input-border);
}

.bankaccc-table .icon,
.addresses-table .icon {
  color: var(--tbicon-color);
  font-size: 18px;
}

.supply6-container .next,
.supply8-container .next {
  margin-top: 40px;
}

.checkbox:checked + .supply-label{
  color: var(--label-selected);
}

.loaction-form input, .bank-form input{
  margin-top: 3rem;
  width: 40rem;
}
